
*{
    font-size: 20px ;
    color: black;
    margin: 0 0 .5vh 0;
}

h1{
    font-size: 25px ;
    margin-bottom: 40px;
}

.form-control{
    font-size: 20px ;
    display: flex;
    text-align: center;
    color: #F55A00; 
}


.placeholder{
    margin-left: 2rem;
}